@import '~@opengov/capital-style/scss/tokens';

$leftNav-width-small: $unit-1 * 30;
$leftNav-width: $unit-1 * 35;


.bodyWrapper {
  display: grid;
  grid-template-areas: "head head"
    "nav  main";
  grid-template-rows: $unit-8 1fr;
  grid-template-columns: $leftNav-width-small 1fr;

  @media #{$mq-small} {
    grid-template-areas: "head head"
      "main main";
    grid-template-columns: 1fr;
  }

  @media #{$mq-large-up} {
    grid-template-columns: $leftNav-width 1fr;
  }

}

main {
  width: calc(100vw});
  height: calc(100vh - #{$unit-8});
  overflow: auto;
  grid-area: main;
  position: relative;

  @media #{$mq-medium-up} {
    width: calc(100vw - #{$leftNav-width-small});
  }

  @media #{$mq-large-up} {
    width: calc(100vw - #{$leftNav-width});
  }
}

.homeWrapper {
  display: grid;
  grid-template-areas: "head"
    "main";
  grid-template-rows: $unit-8 auto;
  grid-template-columns: auto;
  background-color: $color-gray-100;

  main {
    width: 100vw;
    height: calc(100vh - #{$unit-8});
    overflow: auto;
    grid-area: main;
  }
}

.referenceWrapper {
  display: grid;
  grid-template-areas: "head"
    "main";
  grid-template-rows: $unit-8 auto;
  grid-template-columns: auto;
  background-color: $color-gray-100;

  main {
    width: 100vw;
    height: calc(100vh - #{$unit-8});
    overflow: auto;
    grid-area: main;
    background-color: white;
  }
}

.pageHeader {
  margin-top: 0;
  display: block;
  padding: $unit-6 $unit-6 0;
  background-color: $color-gray-50;
  $bg-color: $color-gray-50;
  $dot-color: $color-gray-200;
  $dot-size: 2px;
  $dot-space: 22px;

  background:
    linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $dot-color;
  background-size: $dot-space $dot-space;
  margin-bottom: 0;
  max-width: none;

  @media #{$mq-medium-up} {
    padding: $unit-8 $unit-8 0;
  }

  .pageDescription {
    display: block;
    margin-top: $unit-3;
    font-size: $font-size-large;
    color: $color-gray-700;
    margin-bottom: $unit-6;

    @edia #{$mq-medium-up} {
      margin-bottom: $unit-8;
    }
  }

  &.sectionHeader {
    padding: $unit-6;

    @media #{$mq-medium-up} {
      padding: $unit-8 $unit-8 $unit-8;
    }

    .sectionHeaderIcon {
      height: $unit-1 * 15;
      margin-bottom: $unit-3;
    }

    h1 {
      font-size: 4rem;
    }

    .sectionDescription {
      display: block;
      margin-top: $unit-3;
      font-size: $font-size-xlarge;
      color: $color-gray-700;
    }
  }

  .tags {
    float: right;
    & > span {
      margin-right: $unit-half;
    }
  }
}

.content {
  padding: $unit-4 $unit-6;

  @media #{$mq-medium-up} {
    padding: $unit-6 $unit-8;
  }
}

.tabs {
  display: flex;
  padding: 0;
  margin:0 0;
  list-style-type: none;
  background-color: transparent;
  padding: 0;

  li {
    margin-right: $unit-2;

    a {
      color: $color-gray-1000;
      text-decoration: none;
      padding: $unit-2;
      border-radius: $border-radius-default $border-radius-default 0 0;
      border-bottom: 3px solid transparent;
      color: $color-gray-700;
      display: inline-block;
      transition: $transition-natural;

      &:hover {
        border-bottom: 3px solid $color-gray-300;
        color: $color-gray-1000;
      }

      &.tabsActive {
        border-bottom: 3px solid $color-primary-selection;
        color: $color-gray-1000;
      }
    }
  }
}

.websiteH2 {
  margin-top: $unit-6;
  margin-bottom: $unit-3;
}

.websiteH3 {
  margin-top: $unit-5;
  margin-bottom: $unit-2;
}
