font-family: "Benton Sans";
src: url("/assets/fonts/Benton-Sans-Black.woff");
font-weight: 800;
font-style: normal;
}
@font-face {
font-family: "Benton Sans";
src: url("/assets/fonts/Benton-Sans-Bold.woff");
font-weight: bold;
font-style: normal;
}
@font-face {
font-family: "Benton Sans";
src: url("/assets/fonts/Benton-Sans-Book.woff");
font-weight: 400;
font-style: normal;
}
@font-face {
font-family: "Benton Sans";
src: url("/assets/fonts/Benton-Sans-Extra-Light.woff");
font-weight: 200;
font-style: normal;
}
@font-face {
font-family: "Benton Sans";
src: url("/assets/fonts/Benton-Sans-Light.woff");
font-weight: 300;
font-style: normal;
}

@font-face {
font-family: "Benton Sans";
src: url("/assets/fonts/Benton-Sans-Medium.woff");
font-weight: 600;
font-style: normal;
}

@font-face {
font-family: "Benton Sans";
src: url("/assets/fonts/Benton-Sans-Regular.woff");
font-weight: 500;
font-style: normal;
}

@font-face {
font-family: "Benton-Sans";
src: url("/assets/fonts/Benton-Sans-Thin.woff");
font-weight: 100;
font-style: normal;
}

@font-face {
font-family: "Benton Sans Condensed";
src: url("/assets/fonts/Benton-Sans-Condensed-Black.woff");
font-weight: 800;
font-style: normal;
}

@font-face {
font-family: "Benton Sans Condensed";
src: url("/assets/fonts/Benton-Sans-Condensed-Bold.woff");
font-weight: bold;
font-style: normal;
}

@font-face {
font-family: "Benton Sans Condensed";
src: url("/assets/fonts/Benton-Sans-Condensed-Book.woff");
font-weight: 400;
font-style: normal;
}

@font-face {
font-family: "Benton Sans Condensed";
src: url("/assets/fonts/Benton-Sans-Condensed-Extra-Light.woff");
font-weight: 200;
font-style: normal;
}

@font-face {
font-family: "Benton Sans Condensed";
src: url("/assets/fonts/Benton-Sans-Condensed-Light.woff");
font-weight: 300;
font-style: normal;
}

@font-face {
font-family: "Benton Sans Condensed";
src: url("/assets/fonts/Benton-Sans-Condensed-Medium.woff");
font-weight: 600;
font-style: normal;
}

@font-face {
font-family: "Benton Sans Condensed";
src: url("/assets/fonts/Benton-Sans-Condensed-Regular.woff");
font-weight: 500;
font-style: normal;
}

@font-face {
font-family: "Benton Sans Condensed";
src: url("/assets/fonts/Benton-Sans-Condensed-Thin.woff");
font-weight: 100;
font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.pageHeader {
  margin-top: 0;
  display: block;
  padding: 24px;
  background-color: #EFF2F5;
  margin-bottom: 0;
  max-width: none;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 16px;
}

.pageDescription {
  display: block;
  margin-top: 0;
  font-size: 1.25rem;
  color: #616365;
}

.content {
  padding: 24px;
}

ul {
  list-style-type: disc;
  margin-left: 24px;
}
