@import '~@opengov/capital-style/scss/tokens';

.grid {
  display: grid;
  grid-gap: $unit-3;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: $unit-4;
  margin-bottom: $unit-2;

  &.two {
    grid-template-columns: 1fr 1fr;
  }

  &.three {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &.four {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
